body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: #333 !important; /* Dark grey background */
    color: white !important; /* White text color */
    padding: 20px 0 !important; /* Padding for spacing inside the header */
    text-align: center !important; /* Center the text horizontally */
    width: 100% !important; /* Ensure the header is full width */
    margin-top: 0 !important; /* Make sure there's no margin at the top */
}

h1, h2 {
    color: #333;
}

.projects {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.project {
    background: white;
    padding: 20px;
    margin: 20px;
    width: 30%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 20px;
}
